.user-info {
    padding: 200px 0;
}

.user-info .avatar {
    text-align: center;
    padding-bottom: 30px;

}

.avatar img {
    border-radius: 50%;
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.quick-start {
    padding: 100px;
    color: #999;
    text-align: center;
}

.quick-start span {
    color: #467B96;
    padding: 10px;
}